project:
  type: website
  output-dir: docs

execute:
  echo: false
  
website:
  title: "Partage26"
  navbar:
    right:
      - about.qmd
      - icon: github
        href: https://github.com/
      - icon: twitter
        href: https://twitter.com
format:
  html:
    theme:
      - lumen
    css: styles.css



